body{
    background-image: url(https://images.unsplash.com/photo-1601134467661-3d775b999c8b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1568&q=80) ;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:20% 20% 27% 27%; */
    height:100vh;
    color: #fff;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder{
font-size: 40px;
text-align: center;
margin: 20px 0;
}

.entry{
    background: rgba(59, 74, 107, .4);
    height: 600px;
    
}

#entryHolder{
padding-top: 10px;
}

.holder.entry{
display:flex;
text-align: center;
justify-content: center;
align-items: center;
}

#date{
font-size: 16px;
width: 200px;
height: 100px;
color: #fff;

}

#temp{
font-size: 16px;
width: 200px;
height: 100px;
color: #fff;
}

#content{
    font-size: 16px;
    width: 200px;
    height: 100px;
    color: #fff;
}

.headline {
text-decoration: underline;
}

.title{
color: black;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#fff;
    color:black;
    font-size: 16px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 10px;
}

button{
    width: 200px;
    height: 100px;
    background: #fff;
    color: black;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    border-radius: 20px;
    top: 50px;
}
button:hover{
    background-color:crimson;
    color: #fff;
    cursor: pointer;
}
button:focus{
    transform:scale(0.98) ;
}
h1{
    font-size: 36px;
}

textarea{
    background:#fff;
    color: black;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    border-radius: 10px;
    text-align: center;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color:black; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: black; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: black; 
    font-family: 'Oswald', sans-serif;

} 